
<!-- Run object detection publisher using parameterfile -->
<launch>

  <include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch" />

  <include file="$(find aruco)/launch/realsense.launch" />

　　<include file="$(find branch_surface)/launch/frame_broadcaster_realsense.launch" />

  <node pkg="branch_surface" type="surface_reconstruction_service" name="surface_reconstruction_service" output="screen">
    <rosparam command="load" file="$(find branch_surface)/params/surface_reconstruction.yaml"/>
    <param name="point_cloud_topic" value ="/camera/depth_registered/points" />
  </node>

  <node pkg="object_detection" type="object_pose_refinement_service" name="object_pose_refinement_service" output="screen">
   <rosparam command="load" file="$(find branch_surface)/params/refinement.yaml"/>
   <param name="point_cloud_topic" value ="/camera/depth_registered/points" />
   <param name="package_path" value ="branch_surface" />
   
  </node>
  
    <node pkg="object_detection" type="object_detection_service" name="object_detection_service" output="screen">
   <rosparam command="load" file="$(find branch_surface)/params/detection.yaml"/>
   <param name="point_cloud_topic" value ="/camera/depth_registered/points" />
   <param name="package_path" value ="branch_surface" />
   
  </node>


</launch>
