
<!-- Run object detection publisher using parameterfile -->
<launch>

  <!-- <include file="$(find realsense_ros_camera)/launch/rs_camera.launch" /> -->

  <include file="$(find branch_surface)/launch/frame_broadcaster_kinect.launch" />

  <node pkg="branch_surface" type="surface_reconstruction_service" name="surface_reconstruction_service" output="screen">
    <rosparam command="load" file="$(find branch_surface)/params/surface_reconstruction.yaml"/>
  </node>

  <node pkg="object_detection" type="object_pose_refinement_service" name="object_pose_refinement_service" output="screen">
   <rosparam command="load" file="$(find object_detection)/params/refinement.yaml"/>
  </node>


</launch>
